html {
    font-size: 14px;
    background: url('https://media.istockphoto.com/id/510634369/photo/blank-white-spiral-notebook.jpg?s=612x612&w=0&k=20&c=ip52bfTGPFIayV5Z3YhPPLnzPfcr0FC2muiPkZdAPnw=') center;
    background-size: cover;
    
    height: 100vh;
    padding:0;
    margin:0;
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-family: Lobster;
    font-size: 40px;
   
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cell {
    display: flex;
    border: 1px solid gray;
    min-width: 30px;
    min-height: 40px;
  }

  .cell.show {
    visibility: visible;
    background: url('/marker.jpg')center;
  }